<!--

<form class="col s12 white">
  <div class="row">
    <div class="input-field col s6">
      <input class="validate" type="text" name="UserName" required>
      <label data-error="Required field!">UserName</label>
    </div>
    <div class="input-field col s6">
      <input class="validate" type="password" name="Password"  required
             minlength="3">
      <label>Password</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input class="validate" type="text" name="Email">
      <label data-error="Invalid email!">Email</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input type="text" name="FirstName">
      <label>First Name</label>
    </div>
    <div class="input-field col s6">
      <input type="text" name="LastName">
      <label>Last Name</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <button  class="btn-large btn-submit" type="submit">Submit</button>
    </div>
  </div>
</form>

-->

<div>
  <!--&lt;!&ndash; RD Mailform&ndash;&gt;-->
  <form class="rd-mailform text-left">
    <div class="form-group form-group-label-outside">
      <label for="register-name" class="form-label form-label-outside text-dark">Your name</label>
      <input id="register-name" type="text" name="name" data-constraints="@Required" class="form-control">
    </div>
    <div class="form-group form-group-label-outside offset-top-20">
      <label for="register-email" class="form-label form-label-outside text-dark">Your e-mail</label>
      <input id="register-email" type="email" name="email" data-constraints="@Email @Required" class="form-control">
    </div>
    <div class="form-group form-group-label-outside offset-top-20">
      <label for="register-password" class="form-label form-label-outside text-dark">Password</label>
      <input id="register-password" type="password" name="password" data-constraints="@Required" class="form-control">
    </div>
    <div class="form-group form-group-label-outside offset-top-20">
      <label for="register-repeat-password" class="form-label form-label-outside text-dark">Repeat a password</label>
      <input id="register-repeat-password" type="password" name="password" data-constraints="@Required" class="form-control">
    </div>
    <div class="form-group offset-top-15 text-center text-md-left">
      <label class="checkbox-inline">
        <input name="register-radio" value="checkbox-1" type="checkbox" class="checkbox-custom"><span class="small p"><span class="small">I agree with the <a href="privacy.html" class="text-primary">Terms of use</a></span></span><span>.</span>
      </label>
    </div>
    <div class="offset-top-15 offset-sm-top-20 text-center text-md-left">
      <button type="submit" class="btn btn-ripe-lemon">Sign Up</button>
    </div>
  </form>
</div>

